<div class="container" style="background: #707070;">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag(S3_BUCKET.object('Tristin.png').presigned_url(:get, expires_in: 60 * 60 * 24), alt: "Tristin", class: 'img-fluid')%>
    </div>
    <div class="col-md-9">
      <h3> About Me </h3>
      <p> 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat mattis massa. Quisque sed dui luctus, efficitur arcu quis, ultrices augue. Sed tincidunt elit et massa maximus, vel eleifend purus elementum. Vestibulum ac rutrum orci. Proin pulvinar, arcu eu varius lobortis, purus justo laoreet ex, lacinia pretium nunc diam quis mauris. Cras pulvinar pulvinar lacus in sollicitudin. Aliquam erat volutpat. Proin sit amet felis lectus. Mauris at gravida risus, at pulvinar sapien. Etiam commodo congue velit, ac vulputate enim ornare non. Proin sollicitudin ligula et lectus luctus, nec finibus lectus lobortis.

Maecenas tellus mauris, condimentum sed augue nec, fringilla iaculis nisl. Fusce fermentum massa non ligula hendrerit eleifend. Nunc justo nisi, molestie sed vestibulum vitae, consectetur non ligula. Integer venenatis nec orci vitae sagittis. Nulla facilisi. In semper ex vel quam eleifend, ut vestibulum neque ultrices. Proin varius vitae erat id iaculis.

Etiam non nisl est. Nunc scelerisque ultricies lectus, et eleifend nibh tincidunt nec. Donec a magna imperdiet, tempus diam eget, rhoncus arcu. Curabitur quis viverra leo, sed sodales dui. Nam varius nisi ac nulla sodales iaculis. Integer aliquet egestas orci, in suscipit ipsum aliquet vehicula. Integer tempor metus a orci eleifend volutpat. Mauris eget sapien a risus hendrerit laoreet ut vel magna. Proin leo magna, vehicula quis felis a, gravida bibendum felis. Aliquam sed arcu ac felis finibus semper nec quis dolor. Proin non erat tincidunt, feugiat ligula non, cursus mauris. Quisque sodales sagittis nisl, sit amet gravida nisl pellentesque eu.

Etiam semper est quis magna finibus, in fermentum justo pretium. Aliquam augue dui, mattis sit amet lacus ut, pellentesque ultrices ex. Nulla vel quam nec lectus posuere feugiat in eu elit. Vivamus ac laoreet tellus. Quisque iaculis ut metus vestibulum volutpat. Phasellus tortor mi, scelerisque sed felis ut, euismod ornare arcu. Integer risus ipsum, laoreet nec aliquam eget, pharetra et dolor. Nam interdum rutrum nisi commodo elementum. Proin est odio, posuere vitae rhoncus ac, rutrum interdum diam.

Duis vitae maximus erat. Sed ornare tempor urna, vitae maximus neque finibus et. Etiam mollis sem tortor, non laoreet neque bibendum ac. Nullam vehicula ornare eros, at aliquet libero pulvinar a. Fusce egestas lacus id justo egestas fringilla. Quisque facilisis eros orci, a pretium ante mattis at. Sed quis rhoncus leo. Cras ut lectus molestie, ullamcorper turpis in, efficitur quam.
    </p>
    </div>
  </div>
</div>
