<div class="container-fluid">
  <h1 class="title">
    <%= link_to image_tag(S3_BUCKET.object(@post.image).presigned_url(:get, expires_in: 60 * 60 * 24), height: '150px', width: '150px') %>
    <%= @post.title %>
  </h1>

  <small class="text-muted">
  Submitted <%= time_ago_in_words(@post.created_at) %> Ago
  </small>

  <hr>

  <p class="content">
  <%= @post.content %>
  </p>
</div>
